In [35]:
import os
import pandas as pd

book_dir = "./books"

# Initialize an empty list to store data
data = []

# Loop through each file in the books directory
for book in os.listdir(book_dir):
    try:
        with open(os.path.join(book_dir, book), "r") as file:
            text = file.read()
        data.append({'Book': book, 'Text': text})
    except Exception as e:
        print("Error with book:", book, "\nError:", e)

# Create a DataFrame from the data list
books_df = pd.DataFrame(data)

books_df

,Book,Text
0,mickevicius-krymo-sonetai-ajudagas.txt,Adomas Mickevičius\n\nKrymo sonetai\nAjudagas\...
1,sonety-odeskie-do-d-d-elegia.txt,Adam Mickiewicz\n\nDo D. D.\n\n\n\nElegia\n\n ...
2,mickiewicz-zaloty.txt,Adam Mickiewicz\n\nZaloty\n\n\n\nPóki córeczki...
3,tukaj-albo-proby-przyjazni.txt,Mickiewicz Adam\n\nBallady i romanse\nTukaj al...
4,piesn-filaretow.txt,Adam Mickiewicz\n\nPieśń filaretów\n\n\n\n He...
...,...,...
149,mickiewicz-do-d-d.txt,Adam Mickiewicz\n\nDo D… D…\n\n\n\nMoja pieszc...
150,dziady-dziadow-czesci-iii-ustep-oleszkiewicz.txt,Adam Mickiewicz\n\nDziadów części III Ustęp\nO...
151,dziady-dziady-poema-dziady-czesc-iv.txt,"Adam Mickiewicz\n\nDziady. Poema\nDziady, częś..."
152,sonety-odeskie-do-laury.txt,Adam Mickiewicz\n\nSonety odeskie\nSonet II. D...
153,liryki-lozanskie-widzenie.txt,Adam Mickiewicz\n\nLiryki lozańskie\nWidzenie\...

In [36]:
def trim_text_after_dash(text):
    return text.split("---")[0]

# Apply the function to the 'Text' column
books_df['Text'] = books_df['Text'].apply(trim_text_after_dash)

books_df.head().Text[0]

'Adomas Mickevičius\n\nKrymo sonetai\nAjudagas\ntłum. Motiejus Gustaitis\n\n\n\nMėgstu ant Ajudago rymodams matyti,\nKaip putojančios bangos verpetais puškuoja,\nBei sidabro vainikais juosia marių srytį,\nIr tarsi vaivorykštės aplinkui ratuoja,\n\nAtsimuša į seklių, sekliaus išblaškyti,\nLyg didžiažuvių būriai krantus atakuoja,\nPaveldėtų sausumą, tečiaus nuvaryti,\nVėl kiaukerus, koralus ir perlus tebšluoja.\n\nJaunasis dainiau! Lygiai ir tavo širdyje\nKensmas dažnai sujudin vėsulas grumzdingas,\nBet sveikamjam pakėlus bard’ną įkvėpimo,\n\nAnas be blėdies žūva gelmėj užmiršimo,\nIr už save palieka giesmes nemirtingas,\nTavo garbei vainiką nupint ateityje.\n\n\n\n\n'

In [37]:
def extract_author_title(text):
    lines = text.split('\n', 5)[:5]
    author_title = ' '.join(lines).strip()
    return author_title

# Apply the function to the 'Text' column
books_df['Book'] = books_df['Text'].apply(extract_author_title)

books_df.head()

,Book,Text
0,Adomas Mickevičius Krymo sonetai Ajudagas tłu...,Adomas Mickevičius\n\nKrymo sonetai\nAjudagas\...
1,Adam Mickiewicz Do D. D.,Adam Mickiewicz\n\nDo D. D.\n\n\n\nElegia\n\n ...
2,Adam Mickiewicz Zaloty,Adam Mickiewicz\n\nZaloty\n\n\n\nPóki córeczki...
3,Mickiewicz Adam Ballady i romanse Tukaj albo ...,Mickiewicz Adam\n\nBallady i romanse\nTukaj al...
4,Adam Mickiewicz Pieśń filaretów,Adam Mickiewicz\n\nPieśń filaretów\n\n\n\n He...

In [ ]:
# save the dataframe to a csv file
books_df.to_csv('books.csv', index=False)